<section
  class="h-[200px] md:h-[300px] xl:h-[480px] bg-primary"
  data-nav-boundary="bottom"
>
</section>
<section class="page-container mt-10 md:mt-14 xl:mt-20 mb-8 md:mb-12">
  <h1 class="heading-serif"><b>Wir haben geöffnet</b><br>am Ersten Advent</h1>
</section>
<section class="page-container items-start">
  <%= form_with url: marketing_stores_path, method: :get, local: true, html: { class: "w-full lg:max-w-[1088px]" } do %>
    <div class="relative" data-controller="search-bar">
      <%= search_field_tag :q,
      @search_term,
      id: "search-bar",
      class:
        "search-pill pr-16 lg:pr-24 [&::-webkit-search-cancel-button]:appearance-none",
      placeholder: "Nach Geschäft oder Kategorie suchen",
      data: {
        search_bar_target: "input",
        action: "input->search-bar#toggleClear",
      } %>
      <div class=" absolute inset-y-0 right-5 lg:right-9 flex items-center gap-3 ">
        <button
          type="button"
          class="hidden cursor-pointer"
          data-search-bar-target="clear"
          data-action="click->search-bar#clear"
        >
          <%= heroicon "x-mark", options: { class: "h-5 w-5 lg:h-7 lg:w-7 text-black" } %>
        </button>
        <%= heroicon "magnifying-glass",
        options: {
          class: "h-5 w-5 lg:h-8 lg:w-8 text-black cursor-pointer",
        } %>
      </div>
    </div>
  <% end %>
</section>

<section class="page-container mt-12 md:mt-16 xl:mt-24 mb-20 md:mb-28 lg:mb-32">

  <% if @businesses.any? %>
    <div id="stores-list" class="responsive-grid gap-y-12 md:gap-y-16 xl:gap-y-24">
      <%= render partial: "marketing/stores/store_card",
                 collection: @businesses,
                 as: :business %>
    </div>

    <% if @has_more_stores %>
      <%= render "marketing/stores/load_more", search_term: @search_term, next_page: @next_page %>
    <% else %>
      <div id="stores-load-more"></div>
    <% end %>
  <% else %>
    <p class="text-body text-center">Aktuell sind noch keine Geschäfte eingetragen.</p>
  <% end %>

</section>
