<section class="h-[300px] bg-primary">
</section>
<section class="content-container sticky top-20 w-full flex justify-end">
  <%= link_to marketing_stores_path, class: "btn btn-ghost btn-circle bg-base-200  m-2" do %>
    <span class="sr-only">Zurück zur Übersicht</span>
    <%= heroicon "x-mark", options: { class: "h-8 w-8 md:w-24 md:h-24 p-1" } %>
  <% end %>
</section>

<%= render "shared/business_profile", business: @business, images: @images do %>
  <% if current_user&.id == @owner&.id %>
    <%= link_to edit_app_mystore_path, class: "btn btn-ghost btn-circle" do %>
      <span class="sr-only">Geschäft bearbeiten</span>
      <%= heroicon "pencil-square", options: { class: "h-8 w-8" } %>
    <% end %>
  <% end %>
<% end %>
