<section class="h-[200px] md:h-[300px] xl:h-[480px] bg-primary">
</section>
<section class="page-container sticky top-24 lg:top-28 z-[6] w-full flex justify-end h-0">
  <%= link_to marketing_stores_path,
  class: "flex items-center justify-center h-12 w-12 lg:h-16 lg:w-16 -mt-2 rounded-full
    bg-base-200 transition-colors hover:bg-black hover:text-white" do %>
    <span class="sr-only">Zurück zur Übersicht</span>
    <%= heroicon "x-mark", options: { class: "h-7 w-7 lg:h-9 lg:w-9" } %>
  <% end %>
</section>

<%= render "shared/business_profile", business: @business, images: @images do %>
  <% if current_user&.id == @owner&.id %>
    <%= link_to edit_app_mystore_path, class: "btn btn-ghost btn-circle" do %>
      <span class="sr-only">Geschäft bearbeiten</span>
      <%= heroicon "pencil-square", options: { class: "h-8 w-8" } %>
    <% end %>
  <% end %>
<% end %>
