<% real_image_url = image_url.presence || asset_path("placeholder.png") %>
<% input_id = "#{image_field}-input-#{SecureRandom.hex(4)}" %>

<div class="rounded-xl overflow-hidden bg-base-200 w-max h-96 relative">
  <%= image_tag real_image_url,
  id: "preview-#{image_field}",
  class: "h-full object-cover" %>

  <%= form.file_field image_field,
                  class: "hidden",
                  id: input_id,
                  onchange: "previewImage(event, 'preview-#{image_field}')" %>

  <% if delete_path.present? && image_url.present? %>
    <%= link_to delete_path, 
      params: { image: image_field },
            data: { turbo_confirm: "Möchten Sie dieses Bild wirklich löschen?", turbo_method: :delete },
            class: "
              absolute top-2 right-2 bg-white rounded-full p-1 shadow
              hover:ring-2 hover:ring-red-500 cursor-pointer
            " do %>
      <%= heroicon "trash", options: { class: "h-5 w-5 text-red-500" } %>
    <% end %>
  <% end %>

  <label
    for="<%= input_id %>"
    class="
      absolute top-2 left-2 bg-white rounded-full p-1 shadow hover:ring-2
      hover:ring-blue-500 cursor-pointer
    "
  >
    <%= heroicon "pencil-square", options: { class: "h-5 w-5 text-blue-500" } %>
  </label>
</div>

<script>
function previewImage(event, previewId) {
  const file = event.target.files[0]
  if (!file) return
  const reader = new FileReader()
  reader.onload = e => {
    document.getElementById(previewId).src = e.target.result
  }
  reader.readAsDataURL(file)
}
</script>
