<section
  data-hero
  class="
    h-[600px] bg-cover bg-center w-full flex flex-col justify-end fixed top-0 left-0
    z-0
  "
  style="background-image: url('<%= image_path('hero_image.png') %>'); background-color: rgba(0,0,0,0.3); background-blend-mode: multiply;"
>
  <div class="content-container text-primary-content mb-10 font-['Korolev']">
    <div class="w-full">
      <p class="text-md lg:text-xl">Noch
        <strong>

          <%= (Date.new(Date.today.year, 11, 30) - Date.today).to_i %>
        </strong>
        Tage bis zum</p>
      <h1 class="text-4xl md:text-7xl tracking-tight"><strong>Ersten Advent</strong>
        in der Unteren Altstadt Bern</h1>
    </div>
  </div>
</section>
<div class="relative z-[5] bg-base-200 mt-[600px]">
  <section class="w-full">
    <div class="content-container mt-12 lg:text-[44px] text-md lg:leading-[60px]">
      <p>
        Seit mehr als 30 Jahren
        <strong class="text-secondary special-bold text-md lg:text-[40px]">öffnen zahlreiche Geschäfte, Werkstätte, Galerien, Restaurants und
          Cafés der Unteren Altstadt von Bern von 11 bis 17 Uhr Ihre Türen</strong>
        und läuten am Ersten Advent gemeinsam mit Ihnen die besinnliche
        Weihnachtszeit ein.
      </p>
      <p class="lg:mt-14 mt-8">
        Entdecken Sie die Vielfalt der Inhabergeführten Geschäfte und
        liebevollen Gastronomiebetriebe, freuen Sie sich über Trouvaillen und
        allerhand Einzigartiges. Wir freuen uns Sie «uf dr Gass» anzutreffen.
      </p>
      <%= link_to marketing_stores_path,
    class: "btn-cta" do %>
        Geschäfte entdecken
      <% end %>
    </div>
  </section>
  <section class="w-full my-8 content-container">
    <div class="grid grid-cols-2 gap-3 sm:gap-4 items-end">
      <div class="flex flex-col gap-3 sm:gap-4">
        <%= image_tag image_path("home/bild_1.png"),
        alt: "Erster Advent Bern",
        class: "w-full h-auto rounded-xl" %>
        <%= image_tag image_path("home/bild_3.png"),
        alt: "Erster Advent Bern",
        class: "w-full h-auto rounded-xl" %>
      </div>

      <div class="flex flex-col gap-3 sm:gap-4">
        <%= image_tag image_path("home/bild_2.png"),
        alt: "Erster Advent Bern",
        class: "w-full h-auto rounded-xl" %>
        <%= image_tag image_path("home/bild_4.png"),
        alt: "Erster Advent Bern",
        class: "w-full h-auto rounded-xl" %>
      </div>
    </div>

    <div class="mt-3 sm:mt-4 w-full">
      <%= image_tag image_path("home/bild_5.png"),
      alt: "Erster Advent Bern",
      class: "w-full h-auto rounded-xl" %>
    </div>
  </section>

  <section class="w-full my-8 content-container grid grid-cols-2 gap-4">
    <div class="col-span-2 md:col-span-1 md:block hidden h-56 md:h-96 w-full">
      <%= image_tag image_path("home/bild_6.png"),
      alt: "Erster Advent Bern",
      class: "object-cover w-full h-full rounded-xl" %>
    </div>

    <div class="col-span-2 md:col-span-1 w-full">
      <h3 class="text-2xl mb-4"><b>Informationen</b>
        für Besucherinnen und Besucher</h3>
      <p>
        Die Untere Altstadt umfasst das in der idyllischen Aareschlaufe
        eingebettete Gebiet vom Matte-Quartier bis zum Zytglogge. Im Gegensatz
        zur Oberen Altstadt finden sich hier noch zahlreiche unabhängige und
        eingesessene Geschäfte, Ateliers, Buchhandlungen, Handwerksbetriebe und
        Galerien. Wer einzigartige Kleidungsstücke, in Bern hergestellten
        Schmuck oder eine liebevoll sortierte Buchhandlung und Objekte mit
        Geschichte schätzt, wird beim Schlendern durch die historischen Lauben
        sicherlich fündig.
      </p>
      <%= link_to marketing_stores_path,
    class: "btn-cta text-[25px]" do %>
        Teilnehmende Geschäfte entdecken
      <% end %>

    </div>
  </section>

  <section class="w-full my-8 content-container grid grid-cols-2 gap-4">
    <div class="col-span-2 md:col-span-1">
      <h3 class="text-2xl mb-4"><b>Informationen</b>
        für Geschäfte und Gastronomiebetriebe</h3>
      <p>
        Die Aufforderung zur Anmeldung wird wie üblich nach den Sommerferien
        verschickt. Bitte registrieren Sie sich über das Kontaktformular für
        den Verteiler. Geschäfte der Unteren Altstadt beteiligen sich mit einem
        pauschalen Teilnahmebeitrag von CHF 200. Aus damit zur Verfügung
        stehenden Budget wird der Anlass weit über die Stadtgrenzen hinaus
        beworben. Zudem werden damit auch attraktive Rahmenprogramme finanziert
        und gefördert.
      </p>
      <%= link_to new_user_session_path,
    class: "btn-cta text-[25px]" do %>
        Jetzt mein Geschäft anmelden
      <% end %>

    </div>
    <div class="col-span-2 md:col-span-1 md:block hidden h-56 md:h-96 w-full">
      <%= image_tag image_path("home/bild_6.png"),
      alt: "Erster Advent Bern",
      class: "object-cover w-full h-full rounded-xl" %>
    </div>
  </section>

  <% require "ostruct" %>
  <% imageblock4 = OpenStruct.new(image_1: image_path("home/bild_7.png")) %>
  <%= render "cms/blocks/images_block", block: imageblock4 %>

  <section class="w-full my-8 content-container grid grid-cols-2 gap-4">
    <h3 class="text-2xl mb-4 col-span-2">Über den
      <b>Verein Erster Advent</b></h3>
    <p class="col-span-2">
      Der Erste Advent ist ein Anlass, der seit 30 Jahren Tradition hat, mit
      seinem Ursprung an der beschaulichen Postgasse. Benachbarte
      Ladengeschäfte schlossen sich zusammen, um am Ersten Advent gemeinsam den
      Besucherinnen und Besuchern auch die weniger frequentierten Gassen
      näherzubringen. Das Konzept wird mittlerweile von der gesamten Unteren
      Altstadt getragen und durch den Mitgliederbeitrag eines jeden einzelnen
      Geschäftes gestützt.
    </p>
  </section>
</div>
