<!DOCTYPE html>
<html data-theme="light" lang="de">
  <head>
    <title><%= content_for(:title) || "Erster Advent" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <%= render "layouts/head" %>

    <style>
    button:has(+ #popover-1:popover-open) .icon-down {
  display: none;
}
button:has(+ #popover-1:popover-open) .icon-up {
  display: inline-block;
}
    </style>

  </head>

  <body class="bg-base-200 group large" data-controller="scroll-nav">

    <div
      class="
        fixed top-0 left-0 w-full z-10 duration-200 ease-in-out
        transition-[height,background-color] group-[.small]:bg-primary
        group-[.small]:h-20 group-[.large]:h-32
      "
    >
      <header class="navbar bg-transparent content-container h-full items-start">
        <!-- left / brand -->
        <div class="navbar-start h-full">
          <a href="<%= root_path %>" class="flex h-full">
            <%= image_tag "logo.png", alt: "Erster Advent Logo", class: "h-full w-auto mr-4" %>
            <div class="leading-4 hidden sm:block">
              <!-- hide long text on xs -->
              <p class="text-black group-[.small]:hidden">
                1. Advent<br>Untere<br>Altstadt<br>Bern
              </p>
              <p class="text-primary-content">
                Sonntag<br>30.11.2025<br>
                11-17 Uhr
              </p>
            </div>
          </a>
        </div>
        <!-- desktop nav -->
        <div class="navbar-end gap-2 mt-3 flex">
          <%= link_to "Gesch채fte entdecken", marketing_stores_path, class: "btn-top-nav" %>

          <% if current_user %>

            <div class="dropdown w-min group">
              <div
                tabindex="0"
                role="button"
                class="
                  btn-top-nav justify-between hidden md:flex group-focus-within:bg-black
                  group-focus-within:text-white w-min
                "
              >
                <span>
                  <%= current_user.business&.business_name || current_user.email %>
                </span>
                <span class="icon-up w-8 h-8 group-focus-within:rotate-180">
                  <%= heroicon "arrow-down-circle", options: { class: "asdf" } %>
                </span>
              </div>
              <ul
                tabindex="0"
                class="
                  dropdown-content menu rounded-2xl w-full bg-base-100 shadow-sm absolute
                  min-w-[200px]
                "
              >
                <% if !current_user.adminish? %>
                  <li><%= link_to "Mein Gesch채ft", app_mystore_path %></li>
                  <li><%= link_to "Transaktionen", app_transactions_path %></li>
                <% else %>
                  <li><%= link_to "Admin Dashboard", admin_root_path %></li>
                <% end %>

                <li><%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %></li>
              </ul>
            </div>
          <% else %>
            <%= link_to "Anmeldung f체r Gesch채fte",
            new_user_session_path,
            class: "btn-top-nav hidden md:flex" %>
          <% end %>
        </div>

      </header>
    </div>

    <main class="min-h-screen flex flex-col relative">

      <%= render "layouts/flash", { flash: flash } %>

      <%= yield %>

    </main>
  </body>

  <%= render "layouts/footer" %>
</html>
